html, body {
    overflow-x: hidden;
    height: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

@keyframes noScrollOpening {
    0% {
        overflow-y: hidden;
    }
    100% {
        overflow-y: unset;
    }
}

* {
    max-width: 100vw;
}

:root {
    --text-color-main: #444444;
    --text-color-second: #f5f5f7;

    --background-color-main: #fbfbfd;
    --background-color-second: #161617;

    --theme-color1: #80aa41;
    --theme-color2: #539137;
    --theme-color3: #ad86cd;
    --theme-color4: #ad86cd;
    --theme-color5: #ffee94;
    --theme-color6: #ffee94;
    --theme-color7: #80aa41;
    --theme-color8: #ad86cd;
    --theme-color9: #ad86cd;
    --theme-color10: #d0ae29;
    --theme-color11: #80aa41;
    --theme-color12: #ad86cd;
    --theme-color13: #ad86cd;

    --button-color: var(--theme-color1);

    --margin-side: 5vw;
    --margin-content: 20vh;
    --margin-element-main: 5vw;
    --margin-element-second: 3vw;
    --margin-cr: 0.3vh;

    --picture-border-radius: 5px;

    --opening-duration: 600ms;
}

@media (max-width: 768px) {
    :root {
        --margin-element-main: 9vh;
        --margin-element-second: 6vh;
    }
}

.color-inverted {
    --text-color: var(--text-color-second) !important;
    --background-color: var(--background-color-second) !important;
    color: var(--text-color);
    background-color: var(--background-color);
}

.gap-second {
    gap: var(--margin-element-second) !important;
}

.gap-cr {
    gap: var(--margin-cr) !important;
}

/*@font-face {
    font-family: secondFont;
    src: url(static/fonts/louis-george-cafe.ttf);
}
@font-face {
    font-family: secondFontItalic;
    src: url(static/fonts/louis-george-cafe-italic.ttf);
}
@font-face {
    font-family: secondFontBold;
    src: url(static/fonts/louis-george-cafe-italic.ttf);
}*/

.text {
    font-family: "Poppins", sans-serif;
    --font-size-text: calc(0.9 * (0.7rem + 0.8vmin));
    font-size: var(--font-size-text);
    display: block;
    text-align: justify;
    min-width: min(340px, calc(100vw - 2 * var(--margin-side)));
    text-decoration: none;

    &.preserve {
        white-space: pre;
        min-width: 0;
    }
    
    &.title {
        font-size: calc(1.7 * var(--font-size-text));
        font-weight: bold;
    }

    &.subtitle {
        font-size: calc(1.3 * var(--font-size-text));
    }

    &.note {
        font-style: italic;
        font-size: calc(0.8 * var(--font-size-text));
    }

    &.centered {
        text-align: center;
        max-width: min(max(50vw, 400px), calc(100vw - 2 * var(--margin-side)));
    }

    &.underline {
        width: auto;
        display: initial;
        position: relative;
        min-width: 0;
        background: none;
        padding: 0;
    
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: var(--underline-color);
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
            border-radius: 3px;
        }

        &:not(.underline-hidden)::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.second-font {
    font-family: "Salsa", cursive;
    --font-size-text: calc(1.3 * (0.7rem + 0.8vmin));
}

.highlight {
    font-weight: bold;
    color: var(--text-color);
}

.button {
    display: inline-block;
    padding: 12px 30px;
    line-height: 1;
    border-radius: 50px;
    border: 2px solid var(--button-color);
    margin: 0 10px;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;

    &:not(inversed) {
        background-color: transparent;
        color: var(--text-color);
    }
    &.inversed {
        background-color: var(--button-color);
        color: var(--text-color-second);
    }

    &.active,
    &:hover {
        &:not(inversed) {
            background-color: var(--button-color);
            color: var(--text-color-second);
        }
        &.inversed {
            background-color: transparent;
            color: var(--text-color);
        }
    }
}

.link {
    width: auto;
    display: initial;
    position: relative;
    color: var(--text-color);
    min-width: 0;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: var(--text-color);
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
        border-radius: 3px;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }
}

.picture-container {
    position: relative;
    width: auto;
    height: auto;

    & > video,
    & > img,
    & > svg {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &:not(.no-edit) > img,
    &:not(.no-edit) > svg {
        border-radius: var(--picture-border-radius);
    }

    &.blur-around {
        &::before {
            --effect-size: 5%;
            content: "";
            position: absolute;
            inset: calc(-1 * var(--effect-size)) calc(-1 * var(--effect-size)) calc(-1 * var(--effect-size)) calc(-1 * var(--effect-size));
            background-image: var(--image-url);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(40px) saturate(150%) brightness(140%);
            border-radius: var(--picture-border-radius);
            opacity: 0.4;
            z-index: 0;
        }

        & > img,
        & > svg {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }
    }
}

.hello-container {
    position: relative;
    margin-top: 0;
    margin-left: 0;
    width: 100vw;
    height: 100vh;

    background-color: black;    /* TO CHANGE TO MATCH baniere */

    --gap: 3vh;
    --elements-translation: 50px;
    --background-transition-duration: 0.25s;
    --elements-transition-duration: 0.3s;
    --elements-transition-delay: 0.5s;
    --text-color: var(--text-color-second);
    color: var(--text-color);

    & > .picture-container {
        position: relative;
        margin-top: 0;
        margin-left: 0;
        width: 100vw;
        height: auto;
        z-index: 100;
        flex: none !important;

        transform: translateY(var(--baniere-translation));
    }

    & > .carousel-container {
        position: relative;
        width: 100%;

        opacity: 0;

        & > * {
            opacity: 1;
            transition: opacity var(--background-transition-duration) ease-in-out;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                opacity: .6;
                z-index: -1;
                background: var(--background-url);
                background-position: center;
                background-size: cover;
            }

            & .text {
                max-width: calc(100vw - 2 * var(--margin-side));
            }

            & > :nth-child(1) {
                opacity: 1;
                transform: translateY(0);
                transition: opacity var(--elements-transition-duration) ease-out var(--elements-transition-delay), transform var(--elements-transition-duration) ease-out var(--elements-transition-delay);
            }

            & > :nth-child(3) {
                opacity: 1;
                transform: translateY(0);
                transition: opacity var(--elements-transition-duration) ease-out calc(2 * var(--elements-transition-delay)), transform var(--elements-transition-duration) ease-out calc(2 * var(--elements-transition-delay));
            }
            
            &.carousel-hide {
                opacity: 0;
                z-index: 0;

                & > :nth-child(1) {
                    opacity: 0;
                    transform: translateY(calc(-1 * var(--elements-translation)));
                }

                & > :nth-child(3) {
                    opacity: 0;
                    transform: translateY(var(--elements-translation));
                }
            }
        }
    }

    & > .row-container {
        position: absolute;
        bottom: 0;
        z-index: 1;
        height: 200px;

        &.reserver {
            height: 100px;
            opacity: 0;
        }
    }

    & a {
        scroll-behavior: smooth;
    }
}

@keyframes helloCarouselOpening {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hellobaniereOpening {
    0% {
        transform: translateY(var(--baniere-translation));
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes helloContainerOpening {
    0% {
        background-color: black;    /* TO CHANGE TO MATCH baniere */
    }
    100% {
        background-color: black;
    }
}

.carousel-container > * {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    gap: var(--gap);

    &.flex > * {
        flex: 1 1 0px;
    }

    &.left-align {
        align-items: start;   
    }
    
    &.auto-gap {
        gap: 0;
        justify-content: space-between;
    }

    &.top-align {
        justify-content: start;
    }
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    column-gap: var(--gap);

    &.flex {
        flex-wrap: wrap;
    }
    &.flex > * {
        flex: 1 1 0px;
    }

    &.top-align {
        align-items: start;
    }
    
    &.right-align {
        justify-content: end;
    }
    
    &.left-align {
        justify-content: start;
    }

    &.auto-gap {
        gap: 0;
        justify-content: space-between;
    }

    &.gap-on-flex-only {
        row-gap: var(--gap);
        column-gap: 0;
    }

    &.picture-text:not(.height-set) > .picture-container {
        flex: 0 0 auto;
        width: min(700px, calc(100vw - 2 * var(--margin-side)));
    }
    &.picture-text.height-set > .picture-container {
        flex: 0 0 auto;
        height: 100%;
    }

    &.picture-caption .picture-container {
        height: 30vh;
        width: auto;

        & > .picture {
            height: inherit;
            width: inherit;
        }
    }
    
}

.content-container {
    width: calc(100% - 2 * var(--margin-side));
    padding-top: calc(var(--margin-content) / 2);
    padding-bottom: calc(var(--margin-content) / 2);
    padding-left: var(--margin-side);
    padding-right: var(--margin-side);

    --text-color: var(--text-color-main);
    --background-color: var(--background-color-main);
    color: var(--text-color);
    background-color: var(--background-color);

    & * {
        max-width: calc(100vw - 2 * var(--margin-side));
    }
}

.row-slidewshow-container {
    position: relative;

    --slideshow-height: 30vh;
    height: var(--slideshow-height);
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    
    & > * {
        position: absolute;
        height: var(--slideshow-height);
        transform: translateX(0) scale(1);
        opacity: 1;
        transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, opacity 0.15s ease-in-out;
    
        &.teleport {
            opacity: 0;
            transition: transform 0s ease-in-out 0.15s, filter 0s ease-in-out 0.15s, opacity 0.15s ease-in-out;
        }

        & .picture-container {
            height: 100%;
            width: calc(var(--slideshow-height) * 1.6);

            & > img,
            & > svg {
                object-fit: cover;
            }
        }
    }
}

.text-on-picture-container > .text {
    position: absolute;
    inset: 5% 0 0 5%;
}

.reveal-slideLeft > * {
    opacity: 0;
    transform: translateX(20px);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.reveal-slideRight > * {
    opacity: 0;
    transform: translateX(-45px);
    transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.reveal-slideUp {
    & > * {
        opacity: 0;
        transform: translateY(70px);
        transition: transform 0.4s ease-out, opacity 0.4s ease-out;
    }

    &.revealed > * {
        opacity: 1;
        transform: translateY(0px);
    }
}

.reveal-bkg-color {
    background: linear-gradient(to top right, var(--background-color) 40%, var(--transition-color) 60%, var(--background-color) 40%);
    background-size: 300% 300%;
    background-position: top right;
    transition: background-position 1s ease;

    &.revealed {
        background-position: bottom left;
    }
}

.menu-buttons {
    width: 600px;
    --gap: 8px;

    & > * {
        flex: none !important;
    }
}

.menu {
    z-index: 91;
    --gap: 30px;
    background: linear-gradient(to right, var(--background-color) 85%, rgba(0, 0, 0, 0));

    & > * {
        scale: 1;
        transition: scale 0.2s ease-out, opacity 0.2s ease-out, transform 0.4s ease-out, filter 0.4s ease-out;
    }

    & > .show {
        scale: 1.1;
    }
    & > .hide {
        scale: 0.9;
        opacity: 0.7 !important;
        filter: saturate(40%);
    }
}

.hotels {
    position: relative;
    width: 100%;
    height: 80vh;

    & > * {

        width: 700px;
    
        & > .picture-container {
            width: 100%;   /* dirty... */
        }
    }
}

.sponsors > * {
    max-width: 300px;
}

.tombola {
    --gap: 15px;

    & > * {
        width: 10vw;
        max-width: 90px;
        flex: none !important;
    }
}

.galerie {
    --gap: 5px;

    & > * {
        min-width: max(200px, calc((100% - 5 * var(--gap)) / 4));

        & > * {
            border-radius: 0 !important;
        }
    }
}

.bureau > * > .picture-container {
    height: 200px !important;
    width: 200px !important;
    border-radius: var(--picture-border-radius);

    & > * {
        border-radius: 0;
        object-fit: cover;
        object-position: 50% 50%;
    }
}

.contacts > * > .picture-container {
    height: 35px;
    width: 35px;
}

/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/
